<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
        METAPARAMS = {
            IP:"{{ IP_BASE }}",
            BASEPATH: "static/pointer/",
            ENV: "production"
        }
        </script>
        <link rel="stylesheet" href="{% static 'pointer/css/tutorial.css' %}">
        <!-- <script src="{% static 'pointer/js/lib/matterJS/matter.js' %}"></script> -->
        <script src="{% static 'pointer/js/lib/jquery/jquery-1.11.0.min.js' %}"></script>
        <script src="{% static 'pointer/js/lib/lodash/lodashCore.js' %}"></script>
        <script src="{% static 'pointer/js/lib/js-cookie/js.cookie.min.js' %}"></script>
        <!-- <script>var IP_BASE = '{{ IP_BASE }}'</script> -->
        <script src="{% static 'pointer/js/components/Game.js' %}"></script>
    </head>

    <title>Pointer!</title>
    <body>
        <div class="textContent" id="textContent">
            <h2>PARTICIPANT FORM - Pointer</h2>
            <p>Before running the task, we will require you to read, understand and agree with a consent form, read carefully the guidelines describing what you will have to do.</p>
            <p>Additionally, we need to ask you to <b>run the whole task in fullscreen</b> and focus exclusively on the task you are about to do. This is very important - so please close all "chat" applications, games, etc. At any time before you get your verification code, <b>if you leave the fullscreen mode, the task may be cancelled!</b></p>
            <p>If the task is cancelled or you run into any technical issues, contact us at hiplab@psy.ox.ac.uk and <b>do not restart the task</b>. This is important because it's a learning experiment, and restarting the experiment may affect its outcome.</p>
            <p>In general, if you have any issues or questions, please put yourself in contact with hiplab@psy.ox.ac.uk and let us know what happened. Don't forget to specify the task you are running (see the title of this website).</p>
            <!-- <p>We would like to ask you some details about yourself.  We will not record anything about you that can identify you.  This is just so we can see whether there are any trends within the data.</p>
            <form class="consentForm" id="consentForm" onsubmit="return false">
                <div class="formLabel">
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" required>
                        <option selected value="">Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="nonbinary">Nonbinary</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                
                <div class="formLabel">
                    <label for="age">Age:</label>
                    <select id="age" name="age" required>
                        <option selected value="">Select</option>
                        <option value="18-20">18-20</option>
                        <option value="21-30">21-30</option>
                        <option value="31-40">31-40</option>
                        <option value="41-50">41-50</option>
                        <option value="51-60">51-60</option>
                        <option value="61+">61+</option>
                    </select>
                </div>

                <div class="formLabel">
                    <label for="prolificId">Prolific ID:</label>
                    <input type="text" id="prolificId" placeholder="Input Prolific ID" value="" name="prolificId" required>
                </div>

                <input id="submitBtn" type ="submit" value="Submit">
            </form> -->
        </div>

        <div class="btnContainer">
            <button id="nextButton">Continue</button>
        </div>
    </body>

    <script src="{% static 'pointer/js/src/tutorial.js' %}"></script>
    
</html>