html {
    max-width: 100%;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    /* overflow-y: scroll; */
    z-index: 100;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:none;   
}

.gameCanvas {
    position: absolute;
    z-index: -100;
}

.pageContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.bodyBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    /* background-color: #ffcb04; */
    padding: 3%;
}


.btnContainer button {
    width: 15%;
    min-height: 50%;
    background-color: #ffcb04;
    color: #2b4169;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0.5vw;
    border: none;
    transition: 0.25s;
    padding: 1rem;
}

#nextButton {
    height: 100%;
}

/* .btnContainer button a {
    color: #000000;
} */

.btnContainer button:hover {
    transform: scale(1.2);
    cursor:pointer; 
}

.btnContainer input {
    /* height: 45%; */
    font-size: 2rem;
    cursor: text;
    z-index: 1000;
    pointer-events: auto;
    margin: 1.5rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    font-size: 2rem;
    z-index: 100;
}

.textContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.textContent form, input, select {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
}

.textContent p {
    font-size: 1vw;
    max-width: 65%;
}

.consentForm {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 20%;
    padding-top: 2%;
    /* padding-bottom: 5%; */
    /* padding-top: 5%; */
}

.consentForm select {
    min-width: 75%;
    padding: 2%;
}

#consentButton {
    height: 100%;
}

.consentList {
    width: 75%;
    font-size: 1.3rem;
}

.nextButton {
    height: 100%;
}

.formLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 50%;
    padding-right: 2rem;
    align-items: center;
    padding-bottom: 1rem;
}

canvas {
    z-index: -1;
}

button, input {
    z-index: 10;
}

form {
    position: relative;
}